.diceResultBox {
  max-width: 100%;
  display: block;
  width: 90%;
  margin-left: 5%;
  box-sizing: border-box;
  overflow-clip-margin: content-box;
  overflow: clip;
  background-color: #557e84;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.diceCommandBox {
  max-width: 100%;
  display: block;
  margin: 0 10px;
  box-sizing: border-box;
  overflow-clip-margin: content-box;
  overflow: clip;
  background-color: #557e84;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 3px 5px 5px 5px;
  color: rgb(255, 255, 255);
}

.manualDetails {
  font-size: 1em;
  width: 100%;
  margin: 10px;
}

.manualDetails>p {
  color: rgb(255, 255, 255);
  margin: 10px;
}

.manualBox {
	border: 1px solid #6e9ba1;
  max-width: 100%;
  display: block;
  margin-top: 20px;
  width: 600px;
  box-sizing: border-box;
  overflow-clip-margin: content-box;
  overflow: clip;
  background-color: #557e84;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 3px;
  color: #98d5d4;
}